h1 {
	text-align: center;
	font-size: 2em;
	margin: 0.67em 0;
	font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
	 

}

p {
	color: #C0C0C0;
	font-family: arial;
	
}

h2 {
	
	font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}

html{

	background-color:ButtonShadow; 
}

